<<<<<<< HEAD
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

section.filters button{
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
}
section.filters button:hover{
    opacity: 0.9;
}
=======
body .filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.filters button {
	font-size: 18px;
	background-color: #FF545F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	margin-right: 30px;
}

button:hover {
	opacity: 90%;
}

>>>>>>> Giddy
